extends layout

block content
  header#ishyn3.header-banner
    #ie81nt.container-width
      .logo-container
        .logo
          | 上海天空
      nav.menu
        .menu-item
          | 关于我们
        .menu-item
          | 案例
        .menu-item
          | 首页
      .clearfix
    .row

        a(target='_blank', href='http://wpa.qq.com/msgrd?v=3&uin=532809319&site=qq&menu=yes')
         img(border='0', src='http://wpa.qq.com/pa?p=2:532809319:41', alt='点击这里给我发消息', title='点击这里给我发消息')


    #ig3hhv.row
      #i9hq4p.cell
        #iwib1w
          | 上海天空信息技术咨询有限公司
          a#iyq4ni.link(href='')
        #i725y2
          h2#iuxuqm
            span#iotyqr.mc 专注互联网信息化服务
  section#ibco85.blk-sect
    #itygks.row
      #i99c5e.cell
        section.bdg-sect
          h1.heading
          h1.heading
            | 微信开发
          p.p1.gjs-comp-selected
            span.s1 专业定制微信公众号、微信小程序、
          p.p1.gjs-comp-selected
            span.s1 服务号、订阅号，微官网、
          p.p1.gjs-comp-selected
            span.s1 微信支付功能、微商城、企业号、
          p
      #i3gice.cell
        section.bdg-sect3
          h1.heading
          h1.heading
            | APP开发
          p#indy1i.p1.gjs-comp-selected
            span#ig6tt8.s1 IOS、Android APP开发，，Html5开

          p#indy1i.p1.gjs-comp-selected
            span.s1 iPhone、iPad、Android手机、
          p#indy1i.p1.gjs-comp-selected
            span.s1 小程序开发等，Android平板
          p
      #iqpby2.cell
        section.bdg-sect2
          h1.heading
          h1.heading
            | 网站建设
          p.p1.gjs-comp-selected
            span.s1 专业开发定制各类网站，包括企业官网、
          p.p1.gjs-comp-selected
            span.s1 品牌官网设计、行业门户网站、电商网站、
          p.p1.gjs-comp-selected
            span.s1 营销型网站、集团网站等。
          p
  section.bdg-sect4
    .container-width
      h1.bdg-title
        | 团队
      .badges
        .badge
          .badge-header
          img.badge-avatar(src='/images/hukai.jpeg')
          .badge-body
            .badge-name
              | 胡凯
            .badge-role
              | 全栈工程师
            .badge-desc
              | 曾经就职于，上海用友股份有限公，多家科技公司，多家金融系统系统架构，
              div
                br
          .badge-foot
        .badge
          .badge-header
          img.badge-avatar(src='images/lili.jpeg')
          .badge-body
            .badge-name
              | 李翀
            .badge-role
              | 全栈工程师
            .badge-desc
              | 毕业于上海交通大学，多年互联网工作经验，
              div
                br
          .badge-foot
        .badge
          .badge-header
          img.badge-avatar(src='/images/xiaoming.jpeg')
          .badge-body
            .badge-name
              | 李明
            .badge-role
              | java工程师
            .badge-desc
              | 架构多家金融公司，系统集成
              #i1cklw
                | 对高并发有深刻的理解，
              #i1cklw
                | 对代系统维护有多年经验
          .badge-foot
  footer.footer-under
    .container-width
      .footer-container
        .foot-lists
          .foot-list
            span#i20cne About us
            .foot-list-title
              | 上海天空信息咨询有限公司
            .foot-list-item
              | Contact
            .foot-list-item
              | 18019762902
            .foot-list-item
              | Company
            .foot-list-item
              | Jobs
            .foot-list-item
              | Blog
          .foot-list
            .foot-list-title
              | Services
            .foot-list-item
              | Education
            .foot-list-item
              | Partner
            .foot-list-item
              | Community
            .foot-list-item
              | Forum
            .foot-list-item
              | Download
            .foot-list-item
              | Upgrade
          .clearfix
        div
          div
            a(target='_blank', href='http://wpa.qq.com/msgrd?v=3&uin=532809319&site=qq&menu=yes')
              img(border='0', src='http://wpa.qq.com/pa?p=2:532809319:41', alt='点击这里给我发消息', title='点击这里给我发消息')


          div
            div 微信二维码
            img.img2(border='0', src='/images/weixin.jpg', alt='点击这里给我发消息', title='点击这里给我发消息')

    .copyright
      .container-width
        .made-with
          | 上海天空咨询有限公司出品
        .foot-social-btns
          | facebook twitter linkedin mail
        .clearfix
  style.
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }
    .img2{
      width: 100px;
      height: 100px;
    }
    .clearfix {
      clear: both;
    }

    .header-banner {
      padding-top: 35px;
      padding-bottom: 100px;
      color: #ffffff;
      font-family: Helvetica, serif;
      font-weight: 100;
      background-image: url("//grapesjs.com/img/bg-gr-v.png"), url("//grapesjs.com/img/work-desk.jpg");
      background-attachment: scroll, scroll;
      background-position: left top, center center;
      background-repeat: repeat-y, no-repeat;
      background-size: contain, cover;
    }

    .container-width {
      width: 90%;
      max-width: 1150px;
      margin: 0 auto;
    }

    .logo-container {
      float: left;
      width: 50%;
    }

    .logo {
      background-color: #fff;
      border-radius: 5px;
      width: 130px;
      padding: 10px;
      min-height: 30px;
      text-align: center;
      line-height: 30px;
      color: #4d114f;
      font-size: 23px;
    }

    .menu {
      float: right;
      width: 50%;
    }

    .menu-item {
      float: right;
      font-size: 15px;
      color: #eee;
      width: 130px;
      padding: 10px;
      min-height: 50px;
      text-align: center;
      line-height: 30px;
      font-weight: 400;
    }

    .blk-sect {
      padding-top: 100px;
      padding-bottom: 100px;
      font-family: Helvetica, serif;
      background-color: rgba(141, 37, 37, 0.1);
    }

    .blk-title {
      color: #fff;
      font-size: 25px;
      text-align: center;
      margin-bottom: 15px;
    }

    .price-cards {
      margin-top: 70px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }

    .footer-under {
      background-color: #312833;
      padding-bottom: 100px;
      padding-top: 100px;
      margin-top: 100px;
      min-height: 500px;
      color: #eee;
      position: relative;
      font-weight: 100;
      font-family: Helvetica, serif;
    }

    .copyright {
      background-color: rgba(0, 0, 0, 0.15);
      color: rgba(238, 238, 238, 0.5);
      bottom: 0;
      padding: 1em 0;
      position: absolute;
      width: 100%;
      font-size: 0.75em;
    }

    .made-with {
      float: left;
      width: 50%;
      padding: 5px 0;
    }

    .foot-social-btns {
      display: none;
      float: right;
      width: 50%;
      text-align: right;
      padding: 5px 0;
    }

    .footer-container {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-around;
    }

    .foot-list {
      float: left;
      width: 200px;
    }

    .foot-list-title {
      font-weight: 400;
      margin-bottom: 10px;
      padding: 0.5em 0;
    }

    .foot-list-item {
      color: rgba(238, 238, 238, 0.8);
      font-size: 0.8em;
      padding: 0.5em 0;
    }

    .foot-list-item:hover {
      color: rgba(238, 238, 238, 1);
    }

    .heading {
      padding: 10px;
    }

    .bdg-sect {
      padding-top: 100px;
      padding-bottom: 100px;
      font-family: Helvetica, serif;
      color: #000000;
      margin: 0 30px 0 30px;
      text-align: center;
      background-color: #00B7FF;
    }
    .bdg-sect4 {
      padding-top: 100px;
      padding-bottom: 100px;
      font-family: Helvetica, serif;
      color: #000000;
      margin: 0 30px 0 30px;
      text-align: center;
      background-color: azure;
    }
    .bdg-sect2 {
      padding-top: 100px;
      padding-bottom: 100px;
      font-family: Helvetica, serif;
      color: #000000;
      margin: 0 30px 0 30px;
      text-align: center;
      background-color: red;
    }
    .bdg-sect3 {
          padding-top: 100px;
          padding-bottom: 100px;
          font-family: Helvetica, serif;
          color: #000000;
          margin: 0 30px 0 30px;
          text-align: center;
          background-color: greenyellow;
        }

    .bdg-title {
      text-align: center;
      font-size: 2em;
      margin-bottom: 55px;
      color: #555555;
    }

    .badges {
      padding: 20px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .badge {
      width: 290px;
      font-family: Helvetica, serif;
      background-color: white;
      margin-bottom: 30px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      font-weight: 100;
      overflow: hidden;
      text-align: center;
    }

    .badge-header {
      height: 115px;
      background-image: url("//grapesjs.com/img/bg-gr-v.png"), url("//grapesjs.com/img/work-desk.jpg");
      background-position: left top, center center;
      background-attachment: scroll, fixed;
      overflow: hidden;
    }

    .badge-name {
      font-size: 1.4em;
      margin-bottom: 5px;
    }

    .badge-role {
      color: #777;
      font-size: 1em;
      margin-bottom: 25px;
    }

    .badge-desc {
      font-size: 0.85rem;
      line-height: 20px;
    }

    .badge-avatar {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 5px solid #fff;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      margin-top: -75px;
      position: relative;
    }

    .badge-body {
      margin: 35px 10px;
    }

    .badge-foot {
      color: #fff;
      background-color: #a290a5;
      padding-top: 13px;
      padding-bottom: 13px;
      display: flex;
      justify-content: center;
    }

    .row {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      padding: 10px;
    }

    .cell {
      min-height: 75px;
      flex-grow: 1;
      flex-basis: 100%;
    }

    #i9hq4p {
      margin: 60px 0 30px 0;
    }

    #iwib1w {
      padding: 10px;
      height: 75px;
      text-align: center;
      text-decoration: none;
      font-size: 30px;
      line-height: 59px;
    }

    #i725y2 {
      padding: 10px;
    }

    #iuxuqm {
      margin: 0px;
      border: 0px;
      padding: 0px;
      vertical-align: baseline;
      list-style: none;
      outline: none;
      font-weight: normal;
      font-size: 45px;
      line-height: 50px;
      font-family: "Microsoft Yahei", "Microsoft Jhenghei", Tahoma, Simsun;
      text-align: center;
    }

    #iotyqr {
      margin: 0px 0px 0px 20px;
      border: 0px;
      padding: 0px;
      vertical-align: baseline;
      list-style: none;
      color: rgb(5, 149, 199);
      outline: none;
    }

    p.p1 {
      margin: 0.0px 0.0px 0.0px 0.0px;
      font: 11.0px Helvetica;
      color: #000000;
      -webkit-text-stroke: #000000;
    }

    span.s1 {
      font-kerning: none;
    }

    .p1 {
      font-size: 23px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 0 0 0;
      color: #8a1212;
      line-height: 25px;
      font-weight: 200;
    }

    .p1.gjs-comp-selected {
      font-size: 21px;
    }

    #i20cne {
      color: rgb(238, 238, 238);
      font-family: Helvetica, serif;
      font-size: medium;
      font-style: normal;
      font-variant-ligatures: normal;
      font-variant-caps: normal;
      font-weight: 400;
      letter-spacing: normal;
      orphans: 2;
      text-align: start;
      text-indent: 0px;
      text-transform: none;
      white-space: normal;
      widows: 2;
      word-spacing: 0px;
      -webkit-text-stroke-width: 0px;
      background-color: rgb(49, 40, 51);
      text-decoration-style: initial;
      text-decoration-color: initial;
      display: inline !important;
      float: none;
    }

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    @media (max-width: 768px) {
      .row {
        flex-wrap: wrap;
      }
    }

    @media (max-width: 480px) {
      .foot-lists {
        display: none;
      }
    }
